/* https://colorhunt.co/palette/331d2c3f2e3ea78295efe1d1 */

body {
  color: #efe1d1;
  background-color: #331d2c;
  background-image: url("./background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  padding: 1rem;
  font-family: "Architects Daughter", cursive;
}

.card {
  width: 400px;
  height: 600px;
  background-color: #3f2e3e;
  border-radius: 10px 10px;
  border-style: solid;
  border-color: #efe1d1;
  border-width: 1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.timer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.timingsHeader {
  width: 400px;
}

.runeTimeText > p {
  color: #efe1d1;
}

.timerDialog {
  width: 300px;
}

.timerContainer {
  position: relative;
}

.settingsIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: x-large;
}
